<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/input.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logops1.svg') }}" type="image/x-icon">
    <title>Barber X</title>
</head>

<body>
    <div id="home" class="flex flex-col bg-cover bg-center bg-no-repeat h-dvh" style="background-image: url('{{ url_for('static', filename='imagenes/pexels-nickoloui-1319459.jpg') }}');">
        <header class="bg-zinc-900 text-white p-4 flex justify-center items-center flex-row bg-opacity-70">
            <div class="flex items-center ">
                <img src="{{ url_for('static', filename='imagenes/logo.svg') }}" alt="Logo" class="h-10 mr-3">
                <h1 class="text-xl font-bold">Barber X</h1>
            </div>
            <nav class="flex space-x-6 mx-48">
                <a href="#home" class="hover:underline">Home</a>
                <a href="#about" class="hover:underline">About</a>
                <a href="#services" class="hover:underline">Services</a>
                <a href="#contact" class="hover:underline">Contact</a>
            </nav>
            <div class="flex space-x-3">
                <a href="#"><img src="{{ url_for('static', filename='imagenes/facebook.svg') }}" alt="Facebook" class="w-5"></a>
                <a href="#"><img src="{{ url_for('static', filename='imagenes/instagram.svg') }}" alt="Instagram" class="w-5"></a>
                <a href="#"><img src="{{ url_for('static', filename='imagenes/whatsapp.svg') }}" alt="WhatsApp" class="w-5"></a>
                <a href="#"><img src="{{ url_for('static', filename='imagenes/tik-tok.svg') }}" alt="TikTok" class="w-5"></a>
            </div>
        </header>

        <main class="flex flex-col w-auto h-full items-center justify-center">
            <h2 class="text-white text-2xl ">Cortes & Tinturas</h2>
            <h1 class="text-white font-mono text-8xl">Barber X</h1>
            <a href=""><img src="" alt=""></a>
        </main>
    </div> 
<!--SECCIÓN ABOUT-->
    <div class="bg-zinc-900 h-dvh">
        <div class="grid grid-cols-2 grid-rows-1 p-20">
                <section class="flex flex-col justify-center items-center">
                    <img src="{{ url_for('static', filename='imagenes/logo.svg') }}" alt="" class="w-3/5">
                </section>
                <section class="flex flex-col space-y-6 justify-start items-start">
                    <h2 class="text-orange-600 text-7xl">BARBER X</h2>
                    <P class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing 
                        elit. Alias impedit sit inventore asperiores 
                        at odio quidem consequatur nesciunt eveniet ratione 
                        fugit, eos beatae ea quos quam itaque totam, saepe et!
                    </P>
                    <p class="text-white">Imagen from <a href="" class="text-orange-600">Barber x</a></p>
                    <button type="button" class="text-white border-2 border-solid px-5 py-2">LEARN MORE</button>
                </section>
        </div>
    </div>
    <div class="bg-zinc-800 h-dvh flex flex-col text-white justify-start items-center p-20">
      <h2 class="text-4xl p-6 text-white">UBICACIÓN</h2>
      <a href=""></a>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22072.44290197562!2d-58.54840422521982!3d-34.677721654197725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc62cc3ef7083%3A0x8867107f425fade5!2sUniversidad%20Nacional%20de%20La%20Matanza!5e0!3m2!1ses!2sar!4v1723994052438!5m2!1ses!2sar" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    







    <!-- SECCIÓN DE SERVICIOS: Franco-->

    <section id="services">

        <div class="flex flex-col bg-cover bg-center bg-no-repeat h-dvh" style="background-image: url('{{ url_for('static', filename='imagenes/backgroundServices.webp') }}');">

            <div class="text-center mt-20 mb-32">
                <h2 class="text-6xl text-white font-bold">
                    Servicios de Barbería
                </h2>
                <p class="text-1xl text-white font-semibold mt-8">
                    Estos son algunos de los servicios que ofrecemos en <strong>Barberia X</strong>, Seleccioná uno y reservá tu turno rapidamente.
                </p>            
            </div>

            <div class="grid grid-cols-3 space-x-10 mx-60">

                <a href=""><div class="mt-36 py-16 px-10 bg-gray-300 hover:bg-gray-50 flex justify-center items-center rounded-3xl">
                    <img class="w-24 h-24 absolute pb-10" src="{{ url_for('static', filename='imagenes/cortePelo.svg') }}" title="corte de pelo" alt="corte de pelo">
                    <h3 class="mt-10 pt-10 font-bold text-2xl">Corte de Pelo</h3>
                </div></a>

                <a href=""><div class="mt-36 py-16 px-10 bg-gray-300 hover:bg-gray-50 flex justify-center items-center rounded-3xl">
                    <img class="w-24 h-24 absolute pb-10" src="{{ url_for('static', filename='imagenes/tintura.svg') }}" title="Tintura" alt="Tintura">
                    <h3 class="mt-10 pt-10 font-bold text-2xl">Tintura</h3>
                </div></a>

                <a href=""><div class="mt-36 py-16 px-10 bg-gray-300 hover:bg-gray-50 flex justify-center items-center rounded-3xl">
                    <img class="w-24 h-24 absolute pb-10" src="{{ url_for('static', filename='imagenes/productos.svg') }}" title="Productos de Mantenimiento" alt="Productos de Mantenimiento">
                    <h3 class="mt-10 pt-10 font-bold text-2xl">Producto de Mantenimiento</h3>
                </div></a>
            </div>
            
        </div>


            
    </section>


    <!--Fin de Sección Servicios-->





<!--footer/contacto-->
    <footer class="bg-zinc-900 flex- flex-col">
        <div class="flex flex-row justify-evenly p-5 text-white">
            <section><img src="{{ url_for('static', filename='imagenes/logo.svg') }}" alt="" class="w-20"></section>
            <section><p>Lorem ipsum dolor sit amet .</p></section>
            <section><p>Lorem ipsum dolor sit amet </p></section>
            <section><p>Lorem ipsum dolor sit amet </p></section>
            <section><p>Lorem ipsum dolor sit, am</p></section>
        </div>
        <div class="flex flex-col justify-center items-center p-16">
        <hr class="bg-white w-5/6">
        </div>
        <div class="flex flex-col justify-center items-center p-5 space-y-4">
            <section class="flex flex-row justify-center items-center space-x-3">
                <a href="#"><img src="{{ url_for('static', filename='imagenes/facebook.svg') }}" alt="Facebook" class="w-6 "></a>
                <a href="#"><img src="{{ url_for('static', filename='imagenes/instagram.svg') }}" alt="Instagram" class="w-6"></a>
                <a href="#"><img src="{{ url_for('static', filename='imagenes/whatsapp.svg') }}" alt="WhatsApp" class="w-6"></a>
                <a href="#"><img src="{{ url_for('static', filename='imagenes/tik-tok.svg') }}" alt="TikTok" class="w-6"></a>
            </section>
            <p class="text-white">&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
        </div>
        
    </footer>
</body>

</html>